<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Update Password</title>
		<link rel="stylesheet" href="/css/user_reg_style.css" type="text/css" />
	</head>
	<body>
		<div class="bucket">
			<h1 class="heading">UPDATE YOYR PASSWORD</h1>

		<div><%=error%></div>
		<form action="/users/updatemypassword" method="POST">
			<a class="paper"><i class="fa fa-fw fa-key"></i>Enter Current Password</a><br>
			<input class="sat"
				type="password"
				name="currentpassword"
				placeholder="current password"
			/><br><br>
			<a class="paper"><i class="fa fa-fw fa-key"></i>Enter New Password</a><br>
			<input class="sat"
				type="password"
				name="newPassword"
				placeholder="new password"
			/><br><br>
			<a class="paper"><i class="fa fa-fw fa-key"></i>Confirm New Password</a><br>
			<input class="sat"
				type="password"
				name="confirmNewPassword"
				placeholder="confirm new password"
			/><br><br>
			<button class="click" type="submit">Update Password</button>
		</form>
		</div>
		
</html>
