<!--Footer starts-->
<div class="content flex">
	<div class="footer-clean">
		<footer>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-sm-4 col-md-3 item">
						<h3>SERVICES</h3>
						<ul>
							<li><a href="/products/listproduct">Sell</a></li>
							<li><a href="/products/allproducts">Buy</a></li>
						</ul>
					</div>
					<div class="col-sm-4 col-md-3 item">
						<h3>About</h3>
						<ul>
							<li><a href="/company">Company</a></li>
							<li><a href="/team">Team</a></li>
							<li><a href="/contact">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-lg-2 item social insta-handle">
						<h3 class="copyright">MRP Team</h3>
						<!-- <a href="#"><i class="icon ion-social-facebook"></i></a
            ><a href="#"><i class="icon ion-social-twitter"></i></a
            ><a href="#"><i class="icon ion-social-snapchat"></i></a
            ><a href="#"><i class="icon ion-social-instagram"></i></a> -->
						<a
							title="Muneeb"
							target="blank"
							href="https://www.instagram.com/muneeb_ali_99/"
						>
							<i class="icon ion-social-instagram"></i>
							<h3>Muneeb</h3>
						</a>
						<a
							title="Rachit"
							target="blank"
							href="https://www.instagram.com/fiercht/"
						>
							<i class="icon ion-social-instagram"></i>
							<h3>Rachit</h3>
						</a>
						<a
							title="Priyesh"
							target="blank"
							href="https://www.instagram.com/_.priyesh_24___/"
						>
							<i class="icon ion-social-instagram"></i>
							<h3>Priyesh</h3>
						</a>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>
<!--Footer ends-->
