<div class="header">
	<!--Content before waves-->
	<div class="nav">
		<!-- <input type="checkbox" id="nav-check" /> -->
		<div class="nav-header">
			<div class="nav-title">
				<a href="/" class="button">
					<img
						src="/img/logo1.jpeg"
						style="
							width: 200px;
							height: 60px;
							margin-top: 0px;
							float: left;
							margin-left: 2rem;
						"
					/>
				</a>
			</div>
		</div>

		<div class="nav-links">
			<a href="/users/me" class="link"
				><i class="fa fa-fw fa-user"></i>MY ACCOUNT</a
			>
			<a href="/products/listproduct" class="button"
				><i class="fa fa-fw fa-plus"></i>SELL</a
			>
			<a href="/users/logout" class="button"
				><i class="fa fa-fw fa-lock"></i>LOGOUT</a
			>
		</div>
	</div>
</div>
