<!DOCTYPE html>
<html>
  <head>
    <title>MRP</title>

    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
  </head>
  <body>
    <% if (isAuthenticated) { %>]

    <div class="row1">
      <div id="col1">
        <img
          src="img/MRP.jpg"
          style="width: 300px; height: 100%; margin-top: 0px; float: left"
        />
      </div>
      <div id="col2">
        <input type="text" placeholder="Search.." />
      </div>
      <div id="col3">
        <button class="button a1">Login</button>
        <button class="button a2">Sign Up</button>
      </div>
    </div>
    <div class="row2">
      <div class="navbar">
        <a href="#"><i class="fa fa-fw fa-home"></i>HOME</a>
        <a href="#"><i class="fa fa-fw fa-search"></i> CATEGORIES</a>
        <a href="#"><i class="fa fa-fw fa-user"></i>MY ACCOUNT</a>
        <a href="#"><i class="fa fa-fw fa-envelope"></i> CONTACT US</a>
        <a href="#"><i class="fa fa-fw"></i> ABOUT US</a>
      </div>
    </div>
    <diV class="row3">
      <img
        src="img/slogan.gif"
        style="height: 100%; width: 100%; margin: 10px 5px 10px 5px"
      />
    </diV>
    <div class="row4">
      <div id="col41">
        <b
          ><p style="font-size: 20px; margin-bottom: 3px">RECOMMENDATIONS</p></b
        >
      </div>
      <div id="col42">
        <div id="col421"></div>
        <div id="col421"></div>
        <div id="col421"></div>
        <div id="col421"></div>
      </div>
    </div>

    <div class="footer-clean">
      <footer>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 item">
              <h3>SERVICES</h3>
              <ul>
                <li><a href="#">Sell</a></li>
                <li><a href="#">Buy</a></li>
              </ul>
            </div>
            <div class="col-sm-4 col-md-3 item">
              <h3>About</h3>
              <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-sm-4 col-md-3 item">
              <h3>Careers</h3>
              <ul>
                <li><a href="#">Job openings</a></li>
                <li><a href="#">Employee success</a></li>
                <li><a href="#">Benefits</a></li>
              </ul>
            </div>
            <div class="col-lg-3 item social">
              <a href="#"><i class="icon ion-social-facebook"></i></a
              ><a href="#"><i class="icon ion-social-twitter"></i></a
              ><a href="#"><i class="icon ion-social-snapchat"></i></a
              ><a href="#"><i class="icon ion-social-instagram"></i></a>
              <p class="copyright">MRP</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <% %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
