<%-include('partials/header')%>
<diV class="row3">
	<img class="center" src="img/slogan.gif" />
</diV>
<div class="row4">
	<div id="col41">
		<b
			><p style="font-size: 20px; margin-bottom: 3px">
				RECOMMENDATIONS
			</p></b
		>
	</div>
	<div id="col42">
		<div id="col421"></div>
		<div id="col421"></div>
		<div id="col421"></div>
		<div id="col421"></div>
	</div>
</div>
<%-include('partials/footer')%>
