* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.row{
	height: 100px;
	width: 100%;
	
}
/* styling for nav bar*/

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 80px;
  width: 100%;
  background-color: whitesmoke;
  position: fixed;
}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  margin-left: 500px;
  float: right;
  font-size: 18px;
  color: black;
}

.link {
  color: black;
  margin-left: 30px;
  margin-right: 20px;
  font-weight: bold;
  transition: 0.3s ease-in-out all;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.61);
  border-radius: 15px;
  color: white;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
}

.button {
  text-align: center;
  position: relative;
  margin-top: 8px;
  color: #FFF;
  font-weight: bold;
}

.button {
  margin-right: 1rem;
  width: 150px;
  height: 50px;
  background: #699DB6;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 4px 0 0 #568296, 3px 8px 10px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 5px;
  -moz-box-shadow: 0px 4px 0 0 #568296, 3px 8px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out all;
}

.button:hover {
  background-color: white;
}

/* .button:hover {
  background: -linear-gradient(right top, #699db6 0%, #54b6b5 99%, #e9e8ff 100%);
  background: -webkit-linear-gradient(right top, #699db6 0%, #54b6b5 99%, #e9e8ff 100%);
  background: -moz-linear-gradient(right top, #699db6 0%, #54b6b5 99%, #e9e8ff 100%);
  -webkit-animation: showShadow 3s ease-in-out;
  -moz-animation: showShadow 3s ease-in-out;
} */

.button:active {
  text-shadow: 0 1px 0 #2E2;
  -webkit-box-shadow: 0 1px #181, 1px 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px #181, 1px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
}

span {
  opacity: 0;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: -20px;
}

.button:hover span {
  color: #ffff2f;
  -webkit-animation: showSpan 3s ease-in-out;
  -moz-animation: showSpan 3s ease-in-out;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
 *, *:before, *:after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
 html, body {
   width: 100%;
   height: 100%;
}
 body {
   font-family: 'Raleway', sans-serif;
   line-height: 160%;
   font-size: 100%;
}

 .gallery {
   
   width: 100%;
   max-width: 60rem;
   margin-right: auto;
   margin-left: auto;
   padding-right: 2rem;
   padding-bottom: 4rem;
   padding-left: 2rem;
}
 .gallery .item {
   
   width: 100%;
   padding-top: 2rem;
   padding-bottom: 2rem;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
}
 @media (max-width: 40rem) {
   .gallery .item {
     padding-top: 4rem;
     padding-bottom: 4rem;
     flex-direction: column;
     text-align: center;
  }
}
 .gallery .item:nth-child(even) {
   justify-content: flex-end;
   
}
 .gallery .item:nth-child(even) .img-wrap {
   order: 2;
   
}
 @media (max-width: 40rem) {
   .gallery .item:nth-child(even) .img-wrap {
     order: 0;
  }
}
 .gallery .item:nth-child(even) caption {
   order: 1;
}
 @media (max-width: 40rem) {
   .gallery .item:nth-child(even) caption {
     order: 0;
  }
}
img{
  height: 10%;
}
 .gallery .item .img-wrap {
   position: relative;
   padding: 0.8rem;
   flex-basis: 50%;
   border-radius: 50%;
}
 @media (max-width: 40rem) {
   .gallery .item .img-wrap {
     width: 80%;
     flex-basis: 80%;
  }
}
 .gallery .item .img-wrap:before, .gallery .item .img-wrap:after {
   content: '';
   position: absolute;
   border-radius: 50%;
   transform: rotate(-90deg);
}
 .gallery .item .img-wrap:before {
   top: 1px;
   right: 1px;
   bottom: 1px;
   left: 1px;
   border-top: 1px solid #d4af37;
   border-right: 1px solid transparent;
   border-bottom: 1px solid #d4af37;
   border-left: 1px solid transparent;
}
 .gallery .item .img-wrap:after {
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   border-top: 3px solid #d9d9d9;
   border-right: 3px solid transparent;
   border-bottom: 3px solid #d9d9d9;
   border-left: 3px solid transparent;
   transition: transform 0.5s;
}
 .gallery .item .img-wrap img {
   display: block;
   width: 100%;
   height: 15%;
   padding: 1.5rem;
   border-radius: 50%;
   background-color: #e6e6e6;
   background-image: radial-gradient(#e6e6e6, #ccc 80%);
   background-size: 130% 130%;
   background-position: 0 0;
   background-repeat: no-repeat;
   box-shadow: inset 2px 2px 5px #b3b3b3, 2px 2px 15px #e6e6e6, inset 15px 15px 50px rgba(0, 0, 0, 0.1);
}
 .gallery .item:hover .img-wrap:after {
   transform: rotate(0deg);
}
 .gallery .item:nth-child(1) .img-wrap, .gallery .item:nth-child(5) .img-wrap {
   width: 30%;
   flex-basis: 30%;
}
 @media (max-width: 40rem) {
   .gallery .item:nth-child(1) .img-wrap, .gallery .item:nth-child(5) .img-wrap {
     width: 60%;
     flex-basis: 60%;
  }
}
 .gallery .item:nth-child(2) .img-wrap, .gallery .item:nth-child(4) .img-wrap {
   width: 40%;
   flex-basis: 40%;
}
 @media (max-width: 40rem) {
   .gallery .item:nth-child(2) .img-wrap, .gallery .item:nth-child(4) .img-wrap {
     width: 70%;
     flex-basis: 70%;
  }
}
 .gallery .item .caption {
   padding-right: 5rem;
   padding-left: 5rem;
   position: relative;
   color: #999;
}
 @media (max-width: 40rem) {
   .gallery .item .caption {
     padding-top: 1rem;
  }
}
 .gallery .item .caption h3 {
   position: relative;
   margin-bottom: 1rem;
   font-weight: 400;
   font-size: 1rem;
   text-transform: uppercase;
   letter-spacing: 1px;
}
 .gallery .item .caption a {
   display: inline-block;
   position: relative;
   padding: 0.3rem 1rem;
   color: inherit;
   text-decoration: none;
   border: 1px solid #b3b3b3;
   border-radius: 3px;
}
 .gallery .item .caption .btn-buy {
   margin-right: 1rem;
   color: #d4af37;
   border: 1px solid #d4af37;
   letter-spacing: 1px;
}
 

