* {
    box-sizing: border-box;
}


.bucket {
    border: solid 1px black;
    width: 30%;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    background: lightgray;
}
.heading {
    text-decoration: underline overline wavy rosybrown;
}
.paper {
    font-weight: bold;
}
.sat {
    font-size: 15px;
}
.click {
    cursor: pointer;
    position: relative;
	
	border-radius: 3.75rem;
	line-height: 2.5rem;
	font-size: 1rem;
	font-weight: 600;
}