<!DOCTYPE html>
<html>
  <head>
    <title>Product</title>
    <link rel="stylesheet" type="text/css" href="/css/productstyle.css" />
  </head>
  <body>
    <div class="card">
      <form action="/product" method="POST"></form>
    </div>
  </body>
</html>
